<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- format for different screen sizes -->
    <title>AdventureAtlas</title> <!-- title displayed in the browser tab -->
    <link rel="icon" type="image" href="{{ url_for('static', filename='images/logo_adventureatlas.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    
    <div id="react-root" class="root"></div>

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    
    <script type="text/babel">
        const HUB_AUTHKEY = 'Crr-K24d-2N'; 
        const HUB_URL = "http://vm146.rz.uni-osnabrueck.de/hub";

        //const HUB_AUTHKEY = '1234567890'
        //const HUB_URL = 'http://localhost:5555'
        
        function ChannelApp(){
            const[sender, setSender] = React.useState("");
            const[content, setContent] = React.useState("");
            const [username, setUsername] = React.useState(localStorage.getItem("username") || "");
            const [messages, setMessages] = React.useState([]);
            const [newMessage, setNewMessage] = React.useState("");
            const [channels, setChannels] = React.useState([]);

            React.useEffect(() => {
                // Fetch list of channels from HUB_URL
                fetch(HUB_URL + "/channels", {
                   headers: { Authorization: "authkey " + HUB_AUTHKEY },
                })
                    .then(response => response.json())
                    .then(data => setChannels(data.channels));
            }, []);

            // create a variable 'currentChannel' with a setfucntion and if there is a channel named forum in the channels list, set it as the current channel
            const [currentChannel, setCurrentChannel] = React.useState("");
            
            const fetchMessages = async () => {
                try {
                    // fetch from the current channels endpoint
                    const response = await fetch (currentChannel.endpoint, {
                        method: 'GET',
                        headers: {
                            'Authorization': `authkey ${currentChannel.authkey}`
                        }
                    });
                    const data = await response.json();
                    console.log("Fetched messages:", data)

                    setMessages(data);
                } catch (error) {
                    console.error("Error fetching messages:", error);
                }
            };

            React.useEffect(() => {
                fetchMessages(); // initial load
                const interval = setInterval(fetchMessages, 10000); //Polling every 10 sec
                return () => clearInterval(interval);
            }, [currentChannel]);

            // Handle form submission with fetch() to send messages in the background
            const handleSubmit = async (e) => {
                e.preventDefault();
                try {
                    const response = await fetch(currentChannel.endpoint,{
                        method: 'POST', 
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `authkey ${currentChannel.authkey}`
                        },
                        body: JSON.stringify({ sender, content, timestamp: new Date().toISOString() })    
                    });

                    // Clear inputs after successful send
                    setSender("");
                    setContent("");
                    
                } catch(error) {
                    console.error("Error sending messages", error);
                }
            };

            const handleUsernameChange = (name) => {
                setUsername(name);
                setSender(name);
                localStorage.setItem("username", name);
                };

            const handleLogout = () => {
                setUsername("");
                localStorage.removeItem("username");
            };

            return(
                <div>
                    <div className="header">
                        <h2>
                            <img 
                            src="{{ url_for('static', filename='images/logo_adventureatlas.png') }}"
                            alt="AdventureAtlas Logo" 
                            />
                            AdventureAtlas
                        </h2>
                        <div className="profile-tab">
                            {username ? (
                                <div>
                                    <span>Hello {username} 😇</span>
                                    <img 
                                        src="{{ url_for('static', filename='images/profile-icon.png') }}" 
                                        alt="Profile Icon" 
                                        onClick={handleLogout}
                                    />
                                </div>
                            ) : (
                            <input 
                                type="text" 
                                placeholder="Enter your name" 
                                //onChange={handleUsernameChange}
                                onKeyDown={({ key, target }) => key === 'Enter' && handleUsernameChange(target.value)}
                            />
                            )}
                        </div>
                    </div>

                    <div className="sidebar">
                        <h2>Navigation</h2>
                        <ul>
                            {channels.map(channel => (
                                <li key={channel.endpoint}>
                                    <span 
                                        //save channel name and endpoint in currentChannel
                                        onClick={() => setCurrentChannel(channel)}>{channel.name}
                                    </span>
                                </li>
                            ))}
                        </ul>
                    </div>

                    <div class="content">
                        <h1>{currentChannel.name}</h1>
                        {console.log(currentChannel)}
                        <div id="messages">
                            {messages.map((msg, index) => (
                                <div key={index} className="message">
                                <h2>{msg.sender}</h2>
                                <p className="content">{msg.content}</p>
                                <p className="timestamp">{msg.timestamp}</p>
                                </div>
                            ))}
                        </div>

                        <form id="message-form" onSubmit={handleSubmit} className="message-form">
                            {username && (
                            <input type="hidden" name="sender" value={username} />
                            )}
                            <label htmlFor="content">Message:</label>
                            <input
                                type="text"
                                name="content"
                                id="content"
                                value={content}
                                onChange={(e) => setContent(e.target.value)}
                                required
                            />
                            <input type="submit" value="Post" disabled={!username}/>
                            {!username && (
                            <p>Please enter your name above to post a message.</p>
                            )}
                        </form>
                    </div>

                    <div className="footer">
                    <h2>
                        <a href="{{ url_for('home_page') }}">Back to List of Channels</a>
                    </h2>
                    </div>
                </div>
            );
    
        }

    // Render the React component into the designated root div
    ReactDOM.render(<ChannelApp />, document.getElementById('react-root'));

    </script>

</body>
</html>