<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- format for different screen sizes -->
    <title>AdventureAtlas Home</title> 
    <link rel="icon" type="image" href="{{ url_for('static', filename='images/logo_adventureatlas.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="header" id="myHeader">
        <h2>
            <img src="{{ url_for('static', filename='images/logo_adventureatlas.png') }}" alt="AdventureAtlas Logo">
            AdventureAtlas
        </h2>
    </div>
    <div class="main-content">
        <div class="logo-title">
            <img src="{{ url_for('static', filename='images/logo_adventureatlas.png') }}" alt="AdventureAtlas Logo">
            <h1>AdventureAtlas</h1>
        </div>
        <h3>Greetings Adventurers, </h3>
        <h3>at AdventureAtlas, we connect stories <br> and travel tips to inspire your next big journey. <br> Let’s discover the world together! <br> </h3>
        
        <div id="root"></div>
        
        <h2>List of Message Channels:</h2>
        <ul class="channel-list">
            {% for channel in channels %}
                <li><a href="{{ url_for('show_channel', channel=channel.endpoint | urlencode) }}">{{ channel.name }}</a> (Type: {{ channel.type_of_service }})</li>
            {% endfor %}
        </ul>
    </div>
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/babel">
        // const HUB_AUTHKEY = 'Crr-K24d-2N'; //still adjust?!
        // const HUB_URL = "http://vm146.rz.uni-osnabrueck.de/hub";

        const HUB_AUTHKEY = '1234567890'
        const HUB_URL = 'http://localhost:5555'
        
        function ChannelList() {
            const [channels, setChannels] = React.useState([]);

            React.useEffect(() => {
               fetch(HUB_URL + "/channels", {
                   headers: { Authorization: "authkey " + HUB_AUTHKEY },
               })
               .then(response => response.json())
               .then(data => setChannels(data.channels))
               .catch(error => console.error("Error fetching channels:", error));
           }, []);

            return (
                <div>
                    <ul>
                        {channels.map(channel => (
                            <li key={channel.endpoint}>
                                <button onClick={() => onSelectChannel(channel.endpoint)}>
                                   {channel.name}
                               </button>
                            </li>
                        ))}
                    </ul>
                </div>
            );
        }

        // main part
        ReactDOM.render(
            <div>
                <h2>List of Message Channels:</h2>
                <ChannelList />

            </div>,
            document.getElementById('root'));
    </script>
</body>
</html>



